<div class="border-bottom float-none">
    <h1>Welcome to The Big Leagues!</h1>
</div>

<p>The Big Leagues is a site that allows for esports teams to manage their players and monitor their social media pages with ease. It can even be used for scouting new players for teams, so if you're looking to make it big as a player, signing up is a must!</p>