<div class="row p-2 border-bottom">
    <div class="col-sm">
        <h1>Welcome back to The Big Leagues!</h1>
    </div>
</div>
<div class="row p-2">
    <div class="col-sm">
        <%= render 'sponsors/checksponsorability' %>
    </div>
</div>

