<div class="card p-2" style="height: 460px;">
    <h3>Most recent tweets: </h3>
    <% begin %>
        <div class="card p-2 overflow-auto">
            <% @client.user_timeline(@player_profile.twitterHandle, tweet_mode: 'extended').take(30).collect do |tweet| %>
                <div class="card p-1"> 
                    <p><%= image_tag("#{tweet.user.profile_image_url_https}", style: 'height:25px;width:25px;') %> <%= "#{tweet.user.screen_name}" %>:</p>
                    <p><%= "#{tweet.text}" %> </p>
                </div>
            <% end %>
    <% rescue %>
        <p>Provided account is invalid!</p>
    <% end %>
    </div>
</div>